{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'odiseo_sylius_rbac_plugin.ui.edit_administration_role'|trans }} {{ parent() }}{% endblock %}

{% block content %}

{% include '@OdiseoSyliusRbacPlugin/Admin/AdministrationRole/Update/_header.html.twig' %}
{% include '@OdiseoSyliusRbacPlugin/Admin/AdministrationRole/Update/_breadcrumb.html.twig' %}

{% set readOperationType = constant('Odiseo\\SyliusRbacPlugin\\Access\\Model\\OperationType::READ') %}
{% set createOperationType = constant('Odiseo\\SyliusRbacPlugin\\Access\\Model\\OperationType::CREATE') %}
{% set updateOperationType = constant('Odiseo\\SyliusRbacPlugin\\Access\\Model\\OperationType::UPDATE') %}
{% set deleteOperationType = constant('Odiseo\\SyliusRbacPlugin\\Access\\Model\\OperationType::DELETE') %}

<div class="ui segment">
    <form name="odiseo_sylius_rbac_plugin_administration_role" method="POST" class="ui loadable form" novalidate="novalidate" action={{ path('odiseo_sylius_rbac_plugin_admin_administration_role_update', {'id': administration_role.id}) }}>
        <div id="odiseo_sylius_rbac_plugin_administration_role">
            <div class="required field">
                <label for="odiseo_sylius_rbac_plugin_administration_role_name" class="required">{{ 'sylius.ui.name'|trans }}</label>
                <input type="text" id="odiseo_sylius_rbac_plugin_administration_role_name" name="administration_role_name" required="required" value="{{ administration_role.name }}" >
            </div>
            
            <table class="ui celled table" id="permission_table">
                <thead>
                    <tr>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permissions'|trans }}</th>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.read'|trans }}</th>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.create'|trans }}</th>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.update'|trans }}</th>
                        <th>{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.delete'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                    {% set is_create_access_granted = false %}
                    {% set is_update_access_granted = false %}
                    {% set is_delete_access_granted = false %}
                    {% set is_read_access_granted = false %}

                    {% for rolePermission in rolePermissions %}
                        {% if rolePermission.type == permission %}
                            {% set is_create_access_granted = (createOperationType in rolePermission.operationTypes) %}
                            {% set is_update_access_granted = (updateOperationType in rolePermission.operationTypes) %}
                            {% set is_delete_access_granted = (deleteOperationType in rolePermission.operationTypes) %}
                            {% set is_read_access_granted = (readOperationType in rolePermission.operationTypes) %}
                        {% endif %}
                    {% endfor %}

                    <tr>
                        <td data-label="{{ 'odiseo_sylius_rbac_plugin.ui.permissions'|trans }}">{{ ('odiseo_sylius_rbac_plugin.ui.permission.' ~ permission)|trans }}</td>
                        <td data-label="{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.read'|trans }}">
                            <div class="ui toggle checkbox">
                                {% set permissionReadOperationType = "permissions[" ~ permission ~ "][" ~ readOperationType ~ "]" %}
                                <input type="checkbox" id="{{ permissionReadOperationType }}" name="{{ permissionReadOperationType }}" value="{{ readOperationType }}" {% if is_read_access_granted %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td data-label="{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.create'|trans }}">
                            <div class="ui toggle checkbox">
                                {% set permissionCreateOperationType = "permissions[" ~ permission ~ "][" ~ createOperationType ~ "]" %}
                                <input type="checkbox" id="{{ permissionCreateOperationType }}" name="{{ permissionCreateOperationType }}" value="{{ createOperationType }}" {% if is_create_access_granted %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td data-label="{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.update'|trans }}">
                            <div class="ui toggle checkbox">
                                {% set permissionUpdateOperationType = "permissions[" ~ permission ~ "][" ~ updateOperationType ~ "]" %}
                                <input type="checkbox" id="{{ permissionUpdateOperationType }}" name="{{ permissionUpdateOperationType }}" value="{{ updateOperationType }}" {% if is_update_access_granted %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td data-label="{{ 'odiseo_sylius_rbac_plugin.ui.permission.operation_type.delete'|trans }}">
                            <div class="ui toggle checkbox">
                                {% set permissionDeleteOperationType = "permissions[" ~ permission ~ "][" ~ deleteOperationType ~ "]" %}
                                <input type="checkbox" id="{{ permissionDeleteOperationType }}" name="{{ permissionDeleteOperationType }}" value="{{ deleteOperationType }}" {% if is_delete_access_granted %}checked="checked"{% endif %}>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="ui basic segment">
                <div class="ui buttons">
                    <button id="sylius_save_changes_button" class="ui labeled icon primary button" type="submit"><i class="save icon"></i>{{ 'sylius.ui.save_changes'|trans }}</button>
                    <a href="{{ path('odiseo_sylius_rbac_plugin_admin_administration_role_index') }}" class="ui button">{{ 'sylius.ui.cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
