{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.not_found'|trans }} {{ parent() }}{% endblock %}

{% block content %}
<div class="ui segment center aligned">
    <div class="ui icon message">
        <i class="warning sign icon"></i>
        <div class="content">
            <div class="header">
                {{ 'sylius.ui.not_found'|trans }}
            </div>
            <p>{{ message }}</p>
        </div>
    </div>
    
    <a href="{{ path('sylius_admin_dashboard') }}" class="ui big primary button">
        <i class="home icon"></i>
        {{ 'sylius.ui.return_to_dashboard'|trans }}
    </a>
</div>
{% endblock %}      